<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <title>MEU PRIMEIRO LAYOUT EM HTML</title>
</head>
<body style="background-color: beige;">
    <div id="menu">
        <nav>
            <ul style="list-style: none;">
               <li>Home</li>
               <li>Receitas salgadas</li>
               <li>Receitas doces</li>
            </ul>
        </nav>
    </div>
    <div id="conteudo">
        <section style="display: flex;">
            <div id="receitas-salgadas">
                <ul>
                    <li>Receita 1</li>
                    <li>Receita 2</li>
                    <li>Receita 3</li>
                    <li>Receita 4</li>
                    <li>Receita 5</li>
                    <li>Receita 6</li>
                </ul>
            </div>
            <div id="receitas-doces">
                <ul>
                    <li>Receita 1</li>
                    <li>Receita 2</li>
                    <li>Receita 3</li>
                    <li>Receita 4</li>
                    <li>Receita 5</li>
                    <li>Receita 6</li>
                </ul>
            </div>
        </section>
        <section style="display: flex; width: 50vw; ">
            <div class="Imagem" > <img src="./imgs/img1.jpg" style="width: 100%;"/></div>
            <div class="Imagem"><img src="./imgs/img2.jpg" style="width: 100%;"/></div>
        </section>
        <section>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/NpEaa2P7qZI?si=yAk7fkasGsQ0IevJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </section>
    </div>
</body>
</html>